/* Footer */

html, body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  width: 100%;
}

.footer-container {
  margin: 0 20px;
  border-top: solid 2px #e5e5e5;
  padding: 40px 10px;
}

.sb-social i{
  display: inline-block;
  font-size: 18px;
  padding: 10px 10px;
  margin: 0 3px;
  background-color: #000;
  color: #fff;
  border-radius: 100px;
  text-align: center;
  cursor: pointer;
  transition: all .2s ease;
}
 .sb-social i:hover {
  border-radius: 100px;
  background-color: #e5e5e5;
 }

.footer-menu ul{
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: left;
}
 .footer-menu li {
   padding-right: 20px;
 }
 .footer-menu a {
   text-decoration: none;
   font-size: 15px;
   color: #000;
 } 
 .footer-menu a:hover {
   text-decoration: underline;
 }
 .lines {
   color: #999999;
   font-size: 15px;
    font-weight: 600;
 }

.copyright {
  margin: 20px 0 9px;
}
 .copyright p {
   font-size: 15px;
   color: #ccc;
 }