/* Header */

.main-container {
  margin: 0 auto;
  padding: 12px 50px;
  height: 51px;
  line-height: 51px;
  box-shadow: 1px 8px 5px 0px rgba(207,207,207,0.75);
  -webkit-box-shadow: 1px 8px 5px 0px rgba(207,207,207,0.75);
  -moz-box-shadow: 1px 8px 5px 0px rgba(207,207,207,0.75);
}

.sb-navContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.left-nav {
  display: flex;
  line-height: 10px;
}

.logo img {
  width: 51px;
  height: 51px;
}

.nav-menu ul {
  list-style-type: none;
  display: flex;
}
 .nav-menu li {
   padding-left: 12px;
   text-transform: uppercase;
   font-size: 1em;
   font-weight: 700;
   letter-spacing: 2px;
 }
 .nav-menu a {
  color: var(--currentColor);
  transition: all .2s ease;
 }
 .nav-menu a:hover,
 .nav-menu a:active {
   color: rgb(57 130 71);
 }

.right-nav {
  display: flex;
  justify-content: space-between;
}
 .sb-apply {
  padding-left: 60px;
 }
 /* .sb-apply:hover {
   color: rgb(57 130 73);
 } */

 .find-more:hover {
   color: rgb(57 130 73);
 }
 .find-more i{
  font-size: 20px;
  margin-right: 10px;
 }
 .find-more a {
   font-size: 14px;
 }

 .sign-in {
  display: inline-block;
  border: solid 1px var(--currentColor);
  border-radius: 50px;
  padding: 7px 16px;
  font-size: 15px;
  font-weight: 600;
  line-height: 1.2;
  text-align: center;
  transition: all .2s ease;
 }
 .sign-in:hover {
  opacity: .7;
  background-color: #d8e8e3;
 }

 .join {
  margin-left: 20px;
  display: inline-block;
  border-radius: 50px;
  background-color: var(--currentColor);
  color: var(--bgColor);
  padding: 7px 16px;
  font-size: 15px;
  font-weight: 600;
  line-height: 1.2;
  text-align: center;
  transition: all .2s ease;
 }
 .join:hover {
  opacity: .7;
 }

