/* Sections */

html, body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  width: 100%;
}

/* Description sections */ 

.descriptionSection-one {
  background-color: #d8e8e3;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 16px;
}
 .sb-text {
   padding: 25%;
   font-size: 19px;
 }

/* Banners */

.bannerSection {
  box-sizing: border-box;
  background-color: #d8e8e3;
  height: 400px;
  width: 100%;
  margin: 2.8% 0;
  display: flex;
  flex-direction: row;
} 
 .free-coffee {
   width: 50%;
   display: flex;
   flex-direction: column;
   flex: 50% 50%;
   justify-content: center;
   align-items: center;
   text-align: center;
   line-height: 50px;
 }
 .starbux-img-one {
   background-repeat: no-repeat;
  /* background: url("https://content-prod-live.cert.starbucks.com/binary/v2/asset/137-71056.png") no-repeat; */
  height: 400px;
 }
 .starbux-img-two {
   background-repeat: no-repeat;
   /* background: url("https://content-prod-live.cert.starbucks.com/binary/v2/asset/137-72037.jpg") no-repeat; */
   height: 600px;
 }
 .starbux-img-three {
   background-repeat: no-repeat;
   /* background: url("https://content-prod-live.cert.starbucks.com/binary/v2/asset/137-72046.jpg") no-repeat; */
   height: 400px;
 }
 .starbux-banner { 
   background-size: cover;
   background-position: center;
   width: 50%;
   /* height: 400px; */
 } 
  .tap-coffee {
    font-size: 23px;
    font-weight: 600;
  }
  .join-now {
    font-size: 18px;
  }
  .join-btn {
    display: inline-block;
    border: solid 1px #000;
    border-radius: 50px;
    padding: 7px 16px;
    text-align: center;
    line-height: 1.2;
    font-weight: 600;
    background-color: none;
    transition: all .2s ease;
  }
   .join-btn:hover {
    opacity: .7;
    background-color: #bcbdbc;
   }

   .sb-bigText {
     text-transform: uppercase;
     font-size: 60px;
     font-weight: 600;
     line-height: 1.2;
     padding: 0 200px;
   }
   .free-coffee p {
     font-size: 28px;
     padding: 0 30px;
   }

.bannerSection-two {
  box-sizing: border-box;
  width: 100%;
} 
 .banner-flex {
   display: flex;
   justify-content: space-between;
   align-items: center;
 }
 .order-and-pickup {
   margin-right: 10px;
   background-color: #d4e9e2;
 }
 .floating-into-summer {
   margin-left: 10px;
   background-color: #d4e9e2;
 }
  .order-and-pickup p, .floating-into-summer p {
    font-size: 28px;
  }
  .order-and-pickup h3, .floating-into-summer h3 {
    font-weight: 300;
    padding: 0 40px;
  }
  .uberEat-img, .App-img {
    height: 500px;
  }
  .fis-banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;
  }

.celebrate-month {
  box-sizing: border-box;
  margin: 5% 0 0;
}
   .celebrate-month .free-coffee {
     line-height: 30px;
   }
   .pride-month {
    font-size: 40px;
    line-height: 50px;
   }
   .lgbtq-text {
     padding: 0 150px;
     font-size: 15px;
   }
   .shift-btn {
     margin-top: 40px;
   }

.descriptionSection-two {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 200px;
  font-size: 13px;
  box-shadow: 1px 8px 5px 0px rgba(207,207,207,0.75);
  -webkit-box-shadow: 1px 8px 5px 0px rgba(207,207,207,0.75);
  -moz-box-shadow: 1px 8px 5px 0px rgba(207,207,207,0.75);
}

 .other-text {
   padding: 0 400px;
   line-height: 25px;
  }

.service-list {
  width: 100%;
  box-sizing: border-box;
  z-index: 10;
}
 .services {
   height: 300px;
   display: flex;
   margin: 50px;
   flex: 50%;
 }
 .sb-table {
   margin-right: 40px ;
 }
.sb-listHeader {
  margin-bottom: 40px;
  font-weight: 600;
  box-sizing: content-box;
}
.sb-table a {
  display: flex;
  flex-direction: column;
  line-height: 44px;
  font-size: 15px;
}